.reciverBox {
  position: relative;
  background: #fff;
  padding: 8px;
  padding-bottom: 5px;
  border-radius: 10px;
  border-top-left-radius: 0;
  max-width: fit-content;
  align-self: flex-start;
  cursor: pointer;
}
.reciverBox::before {
  content: "";
  --size: 10px;
  width: 0;
  height: 0;
  border-top: var(--size) solid #fff;
  border-left: var(--size) solid transparent;
  top: 0;
  left: calc(-1 * var(--size));
  position: absolute;
}
.reciverText {
  font-family: "Helvetica Neue", sans-serif;
}
.reciverTime {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.time {
  display: inline;
  font-size: 10px;
  color: #a2a2ab;
  margin-right: 6px;
}
.optionsBackground {
  background: red;
  height: 500px;
  z-index: 4;
}
