.messageBoxContainer {
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.messageBoxHeaderContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: #2f4858;
  padding: 17px;
  padding-left: 20px;
  color: #fff;
}

.messageBoxHeaderContainer h3 {
  font-size: 14px;
}

.messageBoxIcon {
  all: unset;
  cursor: pointer;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .messageBoxContainer {
    display: block;
    width: 100%;
    border-radius: 0;
    /* overflow: scroll; */
  }
}
