.messageBoxContainer {
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.messageBoxHeaderContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: #2f4858;
  padding: 17px;
  padding-left: 20px;
  color: #fff;
}

.messageBoxHeaderContainer h3 {
  font-size: 14px;
}

.messageBoxIcon {
  cursor: pointer;
  width: 15px;
}
