.messageBoxContainer {
  max-width: fit-content;
  border-radius: 30px;
  overflow: hidden;
}

.messageBoxHeaderContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: #2f4858;
  padding: 20px;
  color: #fff;
}
.messageBoxIcon {
  cursor: pointer;
}
