.messageBackground {
  width: 380px;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;
  overflow: auto;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .messageBackground {
    width: 100%;
    /* overflow: scroll; */
  }
}
